<div id="chargenTips">
  <h2>Character Generation Tips</h2>
  <p>Some things to remember.</p>
  <h3>Don't Forget</h3>
  <ul>
    <li>
      <h4>Must-have skills</h4>
      <ul>
        <li>Perception</li>
        <li>A weapon skill - even if you're a mage.</li>
      </ul>
    </li>
    <li>
      <h4>Must-have purchases</h4>
      <ul>
        <li>A commlink</li>
        <li>A weapon</li>
        <li>A lifestyle</li>
      </ul>
    </li>
  </ul>
  <h3>Nice-to-have</h3>
  <ul>
    <li>A vehicle that isn't just a dodge scoot</li>
  </ul>
</div>
